@import "tailwindcss";
@config "./design-system/tailwind.config.js";

@layer base {
  :root {
    --bg-slate-50: #F8FAFC;
    --text-slate-800: #1E293B;
  }
  
  html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    background-color: var(--bg-slate-50);
    color: var(--text-slate-800);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
